body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}

.app {
  text-align: center;
}

#color-input {
  padding: 0.5em;
  width: 200px;
}

button {
  padding: 0.5em 1em;
  margin-left: 0.5em;
  cursor: pointer;
}

#box {
  margin-top: 1em;
  width: 150px;
  height: 150px;
  background: #ddd;
  border: 1px solid #aaa;
}
